@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
  --yellow-color: #f6d82a;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

main {
  min-height: 81vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.logo-img {
  width: 8rem;
}

.logo-text {
  width: 6rem;
}

.in {
  display: inline;
}

.yellow-text {
  color: var(--yellow-color);
}

.text-logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
  color: var(--yellow-color);
}

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
}

.card-main {
  height: 380px;
}

.btn-brand {
  background-image: linear-gradient(#7deb94, #53dbb2 60%, #38d1c5);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  color: #214638;
  text-shadow: 0 0 0 rgb(0 0 0 / 0%);
  font-weight: 700;
}

.btn-brand:not([disabled]):not(.disabled):hover,
.btn-brand:not([disabled]):not(.disabled):focus,
.btn-brand:not([disabled]):not(.disabled):active,
.btn-brand:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#7deb94, #62c462 60%, #53be53);
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  color: #fff;
}
